<h1>Shelters</h1>

<%= link_to 'Add New Shelter', new_shelter_update_path, class: "button button-outline" %>

<table id="shelters-table">
  <thead>
    <tr>
      <th>Shelter</th>
      <th>Last Updated</th>
      <th>Address</th>
      <th>City</th>
      <th>County</th>
      <th>Phone</th>
      <th>Contact name</th>
      <th>Url</th>
      <th>Geocoded?</th>
      <th>Pets</th>
      <th>Volunteers</th>
      <th>Supplies</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shelters.each do |shelter| %>
      <tr>
        <td><%= shelter.shelter_name %></td>
        <td><%= shelter.updated_at.in_time_zone("Central Time (US & Canada)").strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= shelter.address %></td>
        <td><%= shelter.city %></td>
        <td><%= shelter.county %></td>
        <td><%= truncate(shelter.phone) %></td>
        <td><%= shelter.contact_name %></td>
        <td><%= shelter.url %></td>
        <td><%= shelter.longitude.present? && shelter.latitude.present? %></td>
        <td><%= truncate("#{shelter.pets ? "Yes" : "No"}. #{shelter.pet_notes}") %></td>
        <td><%= truncate("#{shelter.volunteers ? "Yes" : "No"}. #{shelter.volunteer_notes}") %></td>
        <td><%= truncate("#{shelter.supplies ? "Yes" : "No"}. #{shelter.supply_notes}") %></td>
        <td><%= truncate(shelter.notes) %></td>
        <td><%= link_to 'Show', shelter %> / <%= link_to 'Update', shelter_update_path(:new, shelter_id: shelter.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
window.onload = function() {
  $('#shelters-table').DataTable();
};
</script>
