<p>
  <strong>Shelter:</strong>
  <%= @shelter.shelter_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shelter.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @shelter.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @shelter.county %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @shelter.phone %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @shelter.contact_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @shelter.url %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @shelter.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @shelter.latitude %>
</p>

<p>
  <strong>Pets:</strong>
  <%= @shelter.pets %>
</p>

<p>
  <strong>Pet notes:</strong>
  <%= @shelter.pet_notes %>
</p>

<p>
  <strong>Volunteers:</strong>
  <%= @shelter.volunteers %>
</p>

<p>
  <strong>Volunteer notes:</strong>
  <%= @shelter.volunteer_notes %>
</p>

<p>
  <strong>Supplies:</strong>
  <%= @shelter.supplies %>
</p>

<p>
  <strong>Supply notes:</strong>
  <%= @shelter.supply_notes %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @shelter.notes %>
</p>

<%= link_to 'Update', new_shelter_update_path(shelter_id: @shelter.id), class: "button button-clear" %> |
<%= link_to 'Back', shelters_path, class: "button button-clear" %>
